<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>EmotionJournal</title>
  </head>
  <body>   
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <br> <br>
                        <ul class="nav mb-0">
                        <h3> EmotionJournal </h3>
                            <li class="nav-item" style="margin-left: 30px">
                                <a class="nav-link active" href="/aboutus">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/journalstats">Journal Stats</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/piecharts">Pie Charts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/logout">Log Out</a>
                            </li>


                        </ul>
                        <hr>

                        <h3> Hi, {{user.username}} </h3>
                        <h5><br> How are you feeling today? What are your goals? Think about what you are feeling and isolate that emotion into one of four basic mood types. Doing so can help clear your mind and help you focus on what's important. </h5>
                         <br>
                    <nav>
                      <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-entries-tab" data-toggle="tab" href="#nav-entries" role="tab" aria-controls="nav-entries" aria-selected="true">All Entries</a>
                        <a class="nav-item nav-link" id="nav-upbeat-tab" data-toggle="tab" href="#nav-upbeat" role="tab" aria-controls="nav-upbeat" aria-selected="false">Upbeat</a>
                        <a class="nav-item nav-link" id="nav-peaceful-tab" data-toggle="tab" href="#nav-peaceful" role="tab" aria-controls="nav-peaceful" aria-selected="false">Peaceful</a>
                        <a class="nav-item nav-link" id="nav-Somber-tab" data-toggle="tab" href="#nav-Somber" role="tab" aria-controls="nav-Somber" aria-selected="false">Somber</a>
                        <a class="nav-item nav-link" id="nav-tense-tab" data-toggle="tab" href="#nav-tense" role="tab" aria-controls="nav-tense" aria-selected="false">Tense</a>
                      </div>
                    </nav>

                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-entries" role="tabpanel" aria-labelledby="nav-entries-tab">
                            <form method="POST" action="/">
                                {% csrf_token %}
                                 <br>
                                <div class="card text-white bg-dark mb-3">
                                    <h5 class="card-header"> What are you thinking about today? </h5>
                                        <input name="Entry" class="form-control" placeholder="Your journal entry" style="margin-bottom: 15px; margin-left: 15px; max-width: 700px"/>
                                            <div class="btn-group">
                                                <input type="submit" class="btn btn-primary" value="Post"/>

                                                <select id="Category" name="Category">
                                                    <option value="Upbeat">Upbeat</option>
                                                    <option value="Peaceful">Peaceful</option>
                                                    <option value="Somber">Somber</option>
                                                    <option value="Tense">Tense</option>
                                                </select>
                                            </div>                        
                                </div>                        
                            </form>
                            {% for oneEntry in entries %}
                                <div class="card border border-dark" style="margin-bottom: 15px">
                                    {% if "Upbeat" == oneEntry.category %}
                                        <div class="card-header"> An <i>{{oneEntry.categories}}</i> journal entry posted at {{oneEntry.created_at}} 
                                        </div>
                                    {% else %}
                                        <div class="card-header"> A <i>{{oneEntry.categories}}</i> journal entry posted at {{oneEntry.created_at}} 
                                        </div>
                                    {% endif %}
                                    <div class="card-body">
                                        <h5 class="card-title"> {{oneEntry.text}} </h5>
                                        <div class="card-text"> <i> {{oneEntry.created_at}} </i>
                                            <br>
                                        </div>
                                    </div>   
                                    <div class="btn-group">
                                        {% if oneEntry.isPinned %}
                                            <form method="GET" action="/pin/{{oneEntry.id}}/home/home">
                                                <button type="submit" class="mt-2 ml-2 mb-2 btn btn-secondary">Unpin</button>
                                            </form>
                                        {% else %}
                                            <form method="GET" action="/pin/{{oneEntry.id}}/home/home">
                                                <button type="submit" class="mt-2 ml-2 mb-2 btn btn-primary">Pin</button>
                                            </form>
                                        {% endif %}

                                        {% if oneEntry.isFavorited %}
                                            <form method="GET" action="/favorite/{{oneEntry.id}}/home/home">
                                                <button type="submit" class="mt-2 ml-2 mb-2 btn btn-secondary">Unfavorite</button>
                                            </form>
                                        {% else %}
                                            <form method="GET" action="/favorite/{{oneEntry.id}}/home/home">
                                                <button type="submit" class="mt-2 ml-2 mb-2 btn btn-primary">Favorite</button>
                                            </form>
                                        {% endif %}
                                        <form method="GET" action="/delete/{{oneEntry.id}}/home/home">
                                            <button type="submit" class="mt-2 ml-2 mb-2 btn btn-danger">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="tab-pane fade" id="nav-upbeat" role="tabpanel" aria-labelledby="nav-upbeat-tab">
                            <form method="POST" action="/">
                                {% csrf_token %}
                                 <br>
                                <div class="card text-white bg-dark mb-3">
                                    <h5 class="card-header"> What are you thinking about today? </h5>
                                        <input name="Entry" class="form-control" placeholder="Your journal entry" style="margin-bottom: 15px; margin-left: 15px; max-width: 700px"/>
                                            <div class="btn-group">
                                                <input type="submit" class="btn btn-primary" value="Post"/>

                                                <select id="Category" name="Category">
                                                    <option value="Upbeat">Upbeat</option>
                                                    <option value="Peaceful">Peaceful</option>
                                                    <option value="Somber">Somber</option>
                                                    <option value="Tense">Tense</option>
                                                </select>
                                            </div>                        
                                </div>                        
                            </form>
                            {% for oneEntry in upbeatEntries %}
                                <div class="card border border-dark" style="margin-bottom: 15px">
                                    <div class="card-header"> An <i>{{oneEntry.categories}}</i> journal entry posted at {{oneEntry.created_at}} 
                                        </div>
                                    <div class="card-body">
                                        <h5 class="card-title"> {{oneEntry.text}} </h5>
                                        <div class="card-text"> <i>{{oneEntry.created_at}} </i>
                                            <br>
                                        </div>
                                    </div>   
                                    <div class="btn-group">
                                        {% if oneEntry.isPinned %}
                                            <form method="GET" action="/pin/{{oneEntry.id}}/home/home">
                                                <button type="submit" class="mt-2 ml-2 mb-2 btn btn-secondary">Unpin</button>
                                            </form>
                                        {% else %}
                                            <form method="GET" action="/pin/{{oneEntry.id}}/home/home">
                                                <button type="submit" class="mt-2 ml-2 mb-2 btn btn-primary">Pin</button>
                                            </form>
                                        {% endif %}

                                        {% if oneEntry.isFavorited %}
                                            <form method="GET" action="/favorite/{{oneEntry.id}}/home/home">
                                                <button type="submit" class="mt-2 ml-2 mb-2 btn btn-secondary">Unfavorite</button>
                                            </form>
                                        {% else %}
                                            <form method="GET" action="/favorite/{{oneEntry.id}}/home/home">
                                                <button type="submit" class="mt-2 ml-2 mb-2 btn btn-primary">Favorite</button>
                                            </form>
                                        {% endif %}
                                        <form method="GET" action="/delete/{{oneEntry.id}}/home/home">
                                            <button type="submit" class="mt-2 ml-2 mb-2 btn btn-danger">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                      <div class="tab-pane fade" id="nav-peaceful" role="tabpanel" aria-labelledby="nav-peaceful-tab">
                          <form method="POST" action="/">
                                {% csrf_token %}
                                 <br>
                                <div class="card text-white bg-dark mb-3">
                                    <h5 class="card-header"> What are you thinking about today? </h5>
                                        <input name="Entry" class="form-control" placeholder="Your journal entry" style="margin-bottom: 15px; margin-left: 15px; max-width: 700px"/>
                                            <div class="btn-group">
                                                <input type="submit" class="btn btn-primary" value="Post"/>

                                                <select id="Category" name="Category">
                                                    <option value="Peaceful">Peaceful</option>
                                                    <option value="Upbeat">Upbeat</option>
                                                    <option value="Somber">Somber</option>
                                                    <option value="Tense">Tense</option>
                                                </select>
                                            </div>                        
                                </div>                        
                            </form>
                            {% for oneEntry in peacefulEntries %}
                                <div class="card border border-dark" style="margin-bottom: 15px">
                                    <div class="card-header"> A <i>{{oneEntry.categories}}</i> journal entry posted at {{oneEntry.created_at}} 
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title"> {{oneEntry.text}} </h5>
                                        <div class="card-text"> <i>{{oneEntry.created_at}} </i>
                                            <br>
                                        </div>
                                    </div>   
                                    <div class="btn-group">
                                        {% if oneEntry.isPinned %}
                                            <form method="GET" action="/pin/{{oneEntry.id}}/home/home">
                                                <button type="submit" class="mt-2 ml-2 mb-2 btn btn-secondary">Unpin</button>
                                            </form>
                                        {% else %}
                                            <form method="GET" action="/pin/{{oneEntry.id}}/home/home">
                                                <button type="submit" class="mt-2 ml-2 mb-2 btn btn-primary">Pin</button>
                                            </form>
                                        {% endif %}

                                        {% if oneEntry.isFavorited %}
                                            <form method="GET" action="/favorite/{{oneEntry.id}}/home/home">
                                                <button type="submit" class="mt-2 ml-2 mb-2 btn btn-secondary">Unfavorite</button>
                                            </form>
                                        {% else %}
                                            <form method="GET" action="/favorite/{{oneEntry.id}}/home/home">
                                                <button type="submit" class="mt-2 ml-2 mb-2 btn btn-primary">Favorite</button>
                                            </form>
                                        {% endif %}
                                        <form method="GET" action="/delete/{{oneEntry.id}}/home/home">
                                            <button type="submit" class="mt-2 ml-2 mb-2 btn btn-danger">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}
                      </div>
                      <div class="tab-pane fade" id="nav-Somber" role="tabpanel" aria-labelledby="nav-Somber-tab">
                        <form method="POST" action="/">
                                {% csrf_token %}
                                 <br>
                                <div class="card text-white bg-dark mb-3">
                                    <h5 class="card-header"> What are you thinking about today? </h5>
                                        <input name="Entry" class="form-control" placeholder="Your journal entry" style="margin-bottom: 15px; margin-left: 15px; max-width: 700px"/>
                                            <div class="btn-group">
                                                <input type="submit" class="btn btn-primary" value="Post"/>

                                                <select id="Category" name="Category">
                                                    <option value="Somber">Somber</option>
                                                    <option value="Peaceful">Peaceful</option>
                                                    <option value="Upbeat">Upbeat</option>
                                                    <option value="Tense">Tense</option>
                                                </select>
                                            </div>                        
                                </div>                        
                            </form>
                            {% for oneEntry in somberEntries %}
                                <div class="card border border-dark" style="margin-bottom: 15px">
                                    <div class="card-header"> A <i>{{oneEntry.categories}}</i> journal entry posted at {{oneEntry.created_at}} 
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title"> {{oneEntry.text}} </h5>
                                        <div class="card-text"> <i>{{oneEntry.created_at}} </i>
                                            <br>
                                        </div>
                                    </div>   
                                    <div class="btn-group">
                                        {% if oneEntry.isPinned %}
                                            <form method="GET" action="/pin/{{oneEntry.id}}/home/home">
                                                <button type="submit" class="mt-2 ml-2 mb-2 btn btn-secondary">Unpin</button>
                                            </form>
                                        {% else %}
                                            <form method="GET" action="/pin/{{oneEntry.id}}/home/home">
                                                <button type="submit" class="mt-2 ml-2 mb-2 btn btn-primary">Pin</button>
                                            </form>
                                        {% endif %}

                                        {% if oneEntry.isFavorited %}
                                            <form method="GET" action="/favorite/{{oneEntry.id}}/home/home">
                                                <button type="submit" class="mt-2 ml-2 mb-2 btn btn-secondary">Unfavorite</button>
                                            </form>
                                        {% else %}
                                            <form method="GET" action="/favorite/{{oneEntry.id}}/home/home">
                                                <button type="submit" class="mt-2 ml-2 mb-2 btn btn-primary">Favorite</button>
                                            </form>
                                        {% endif %}
                                        <form method="GET" action="/delete/{{oneEntry.id}}/home/home">
                                            <button type="submit" class="mt-2 ml-2 mb-2 btn btn-danger">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="tab-pane fade" id="nav-tense" role="tabpanel" aria-labelledby="nav-tense-tab">
                            <form method="POST" action="/">
                                {% csrf_token %}
                                 <br>
                                <div class="card text-white bg-dark mb-3">
                                    <h5 class="card-header"> What are you thinking about today? </h5>
                                        <input name="Entry" class="form-control" placeholder="Your journal entry" style="margin-bottom: 15px; margin-left: 15px; max-width: 700px"/>
                                            <div class="btn-group">
                                                <input type="submit" class="btn btn-primary" value="Post"/>

                                                <select id="Category" name="Category">
                                                    <option value="Tense">Tense</option>
                                                    <option value="Somber">Somber</option>
                                                    <option value="Peaceful">Peaceful</option>
                                                    <option value="Upbeat">Upbeat</option>
                                                </select>
                                            </div>                        
                                </div>                        
                            </form>
                            {% for oneEntry in tenseEntries %}
                                <div class="card border border-dark" style="margin-bottom: 15px">
                                    <div class="card-header"> A <i>{{oneEntry.categories}}</i> journal entry posted at {{oneEntry.created_at}} 
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title"> {{oneEntry.text}} </h5>
                                        <div class="card-text"> <i>{{oneEntry.created_at}} </i>
                                            <br>
                                        </div>
                                    </div>   
                                    <div class="btn-group">
                                        {% if oneEntry.isPinned %}
                                            <form method="GET" action="/pin/{{oneEntry.id}}/home/home">
                                                <button type="submit" class="mt-2 ml-2 mb-2 btn btn-secondary">Unpin</button>
                                            </form>
                                        {% else %}
                                            <form method="GET" action="/pin/{{oneEntry.id}}/home/home">
                                                <button type="submit" class="mt-2 ml-2 mb-2 btn btn-primary">Pin</button>
                                            </form>
                                        {% endif %}

                                        {% if oneEntry.isFavorited %}
                                            <form method="GET" action="/favorite/{{oneEntry.id}}/home/home">
                                                <button type="submit" class="mt-2 ml-2 mb-2 btn btn-secondary">Unfavorite</button>
                                            </form>
                                        {% else %}
                                            <form method="GET" action="/favorite/{{oneEntry.id}}/home/home">
                                                <button type="submit" class="mt-2 ml-2 mb-2 btn btn-primary">Favorite</button>
                                            </form>
                                        {% endif %}
                                        <form method="GET" action="/delete/{{oneEntry.id}}/home/home">
                                            <button type="submit" class="mt-2 ml-2 mb-2 btn btn-danger">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
            </div>
        </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
