<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Log in</title>
  </head>
  <body>
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <br> <br>
                    <div class="card" style="margin-bottom: 30px">
                        <div class="card-header">
                            <h1> EmotionJournal </h1>
                        </div>
                    </div>

				    <h3>Sign up</h3>				    
                    <hr>
                    <form method="POST" action="/signup" style="margin-bottom: 40px">
                    {% csrf_token %}
					  <div class="form-group">
					    <label>Username</label>
					    <input class="form-control" name="username">
					  </div>
					  <div class="form-group">
					    <label>Email Address</label>
					    <input class="form-control" name="email">
					  </div>
					  <div class="form-group">
					    <label for="password">Password</label>
					    <input type="password" class="form-control" name="password">
					  </div>
					  <button type="submit" class="btn btn-primary">Sign up</button>
					</form>

					<h3>Log in</h3>				    
                    <hr>
					<form method="POST" action="/login">
                    {% csrf_token %}
					  <div class="form-group">
					    <label>Username</label>
					    <input class="form-control" name="username">
					  </div>
					  <div class="form-group">
					    <label for="password">Password</label>
					    <input type="password" class="form-control" name="password">
					  </div>
					  <button type="submit" class="btn btn-primary">Log in</button>
					</form>

				    <ul class="nav" style="margin-top: 40px">
				        <li class="nav-item">
				            <a class="nav-link active" href="/aboutus">About Us</a>
				        </li>
				    </ul>
            </div>
        </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>

<!-- 
<h1>Sign Up</h1>
<form method="POST" action="/signup">
    {% csrf_token %}
    <input name="username" placeholder="username" />
    <input name="email" placeholder="email" />
    <input name="password" placeholder="password" type="password" />
    <input type="submit" />
</form>

<h1>Log In</h1>
<form method="POST" action="/login">
    {% csrf_token %}
    <input name="username" placeholder="username" />
    <input name="password" placeholder="password" type="password" />
    <input type="submit" />
</form>
-->